#wholepage{
    width: 100%;
    height: 100%;
    background-color: red;
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
}

#headerRow{
    width: 100%;
    height: 8%;
    background-color: green;
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

#midRow{
    width: 100%;
    height: 84%;
    background-color: blue;
    float: left;
    position: absolute;
    top: 8%;
    left: 0%;
    
}

#leftColumn{
    width: 8%;
    height: 100%;
    background-color: purple;
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

#middleColumn{
    width: 84%;
    height: 84%;
    background-color: orange;
    float: left;
    position: absolute;
    top: 0%;
    left: 8%;
    
}

#Row1{
    width: 100%;
    height: 40%;
    background-color: violet;
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

#Row2{
    width: 100%;
    height: 40%;
    background-color: violet;
    float: left;
    position: absolute;
    top: 40%;
    left: 0%;
    
}

#Row3{
    width: 100%;
    height: 40%;
    background-color: violet;
    float: left;
    position: absolute;
    top: 80%;
    left: 0%;
    
}

#rightColumn{
    width: 8%;
    height: 100%;
    background-color: purple;
    float: left;
    position: absolute;
    top: 0%;
    left: 92%;
    
}

#footerRow{
    width: 100%;
    height: 8%;
    background-color: green;
    float: left;
    position: absolute;
    top: 92%;
    left: 0%;
    
}


